<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('C:/Users/Bast/Documents/ProjetWeb/views/head'); %>
</head>
<body>
    <header>
        <%- include('C:/Users/Bast/Documents/ProjetWeb/views/header'); %>
    </header>
    <div class="container">
        <div class="lefterContainer">

        </div>
        <div class="rightContainer">
            
        </div>
     
    </div>
    <footer>
        <%- include('C:/Users/Bast/Documents/ProjetWeb/views/footer'); %>
    </footer>
</body>
</html>