<div class="failedContainer">
    <span ><h3>Réservation échouée !</span></h3>
    <p>La réservation du logement n'a pas pu aboutir.</p>
    <a href="/"><button class="btn btn-primary" id="submit">Revenir au menu principal</button></a>
</div>