<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head");%>
</head>
<%- include("header");%>
<body>
    <div class="failedContainer">
        <span ><h3>Impossible de se connecter !</span></h3>
        <p>Adresse email ou mot de passe incorrects. Veuillez vous enregistrer.</p>
        <a href="/"><button class="btn btn-primary" id="submit">Revenir au menu principal</button></a>
    </div>
</body>

<footer>
    <%- include("footer");%>
</footer>
</html>