<form class="reservation" action="/reservation" method="post">
<div class="formBien">
  <% if (session.userid){ %>
  <div class="form-group">
    <label for="datesSejour">Dates</label>
    <input type="text" class="form-control" id="datesSejour" placeholder="Dates du séjour" name="datesSejour" autocomplete="off">
    <input type="hidden" id="idBien" name="idBien" value="<%= data[0].idBien %>">
    <button type="submit" class="btn btn-primary" id="submit">Réserver</button>

  </div>
  <% }else{ %>
    <span>Veuillez vous connecter pour pouvoir réserver</span>
  <% } %>
</div>
</form>