  <div class="form-group">
    <label for="adressInput">Adresse</label>
    <input type="text" class="form-control" id="adressInput" aria-describedby="address" placeholder="Adresse" name="address" autocomplete="on">
  </div>
  <div class="form-group">
    <label for="datesSejour">Dates</label>
    <input type="text" class="form-control" id="datesSejour" placeholder="Dates du séjour" name="datesSejour" autocomplete="off">
  </div>
  <div class="form-group">
      <label for="priceRange" class="form-label">Fourchette de prix</label> <span class="prix">: 0€</span>
      <input type="range" class="form-range" min="0" max="300" value="0" id="priceRange" name="price">
  </div>
  <div class="form-group">
      <label for="roomRange" class="form-label">Nombre de chambres</label>
  </div>
  <div class="select-room" role="selectroom" aria-label="select">
        <select class="form-select form-select-sm" aria-label="Small select" name="nbrChambre" id="roomRange">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8+</option>
          </select>
  </div>
  <div class="form-group">
      <label for="bedRange" class="form-label">Nombre de lits</label>
  </div>
  <div class="select-bed" role="selectbed;" aria-label="select">
    <select class="form-select form-select-sm" aria-label="Small select" name="nbrBed" id="bedRange">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8+</option>
      </select>
</div>
<div class="form-group">
  <label for="distanceRange" class="form-label">Distance du centre-ville</label><span class="distance">: 4000 m</span>

  <input type="range" class="form-range" min="0" max="8000" id="distanceRange" name="distance">
</div>
  <button type="submit" class="btn btn-primary" id="submit">Rechercher</button>
