<nav class="navbar">
    <h1><a href="/">AirBnBide</h1></a>
    <ul class="navbarList">
        <li class="navbarElement"><a href="/">Accueil</li></a>
        <li id="connexion" class="navbarElement">Connexion</li>
        <li class="navbarElement"></li>
    </ol>
</nav>  