<nav class="navbar">
    <h1>AirBnBide</h1>
    <ul class="navbarList">
        <li class="navbarElement">Accueil <a href="index.html"></a></li>
        <li class="navbarElement">Louer</li>
        <li class="navbarElement">Contact</li>
    </ol>
</nav>