<nav class="navbar">
    <h1>AirBnBide</h1>
    <ul class="navbarList">
        <li class="navbarElement"><a href="/">Accueil</li></a>
        <li class="navbarElement">Louer</li>
        <li class="navbarElement">Contact</li>
    </ol>
</nav>