<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <div class="container">
        <div class="leftPanel">
            <p>Réservez dès maintenant votre logement de rêve.</p>
            <form>
                <%- include('../partials/form'); %>
            </form>   
        </div>
        <div class="rightPanel">
        </div>
    </div>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>