<div class="popup">
    <div class="popup-content">
        <%- include("cross_svg") %>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="Identifiant">
            <label for="floatingInput">Adresse email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Identifiant">
            <label for="floatingPassword">Mot de passe</label>
          </div>
        <button type="submit" class="btn btn-primary" id="login">Se connecter</button>
    </div>
</div>