<form action="/login" method="post">
<div class="popup">
    <div class="popup-content">
      <div class="popupTitle">

     
      <span class="popupTitle">Connexion</span>
      <span class="close"><%- include("cross_svg") %></span>
    </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInputLogin" placeholder="name@example.com" name="identifiant">
            <label for="floatingInput">Adresse email</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPasswordLogin" placeholder="Password" name="password">
            <label for="floatingPassword">Mot de passe</label>
          </div>
        <button type="submit" class="btn btn-primary" id="login">Se connecter</button>
    </div>
</div>
</form>