<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head");%>
</head>
<%- include("header");%>
<body>
    <div class="successfulRegister">
        <span ><h3>Votre compte a été enregistré avec succès !</span></h3>
        <p>Vous pouvez vous connecter avec votre compte.</p>
        <a href="/"><button class="btn btn-primary" id="submit">Revenir au menu principal</button></a>
    </div>
</body>

<footer>
    <%- include("footer");%>
</footer>
</html>