<div class="successContainer">
        <span id="successTitle"><h3>Réservation confirmée !</span></h3>
        <p>Le logement a été reservé avec succès.</p>
        <a href="/"><button class="btn btn-primary" id="submit">Revenir au menu principal</button></a>
</div>